<div class="container">
<div class="columns is-centered">
<div class="column is-3">
<h2 class="title has-text-centered">-Sign up-</h2>
<br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <label class="label"><%= f.label :username %></label>
    <%= f.text_field :username, autofocus: true, autocomplete: "off", class:"input", type:"text" %>
  </div>

  <div class="field">
    <label class="label"><%= f.label :first_name %></label>
    <%= f.text_field :first_name, autocomplete: "off", class:"input", type:"text" %>
  </div>
  
  <div class="field">
    <label class="label"><%= f.label :last_name %></label>
    <%= f.text_field :last_name, autocomplete: "off", class:"input", type:"text" %>
  </div>

  <div class="field">
    <label class="label"><%= f.label :email %></label>
    <%= f.email_field :email, autocomplete: "email", class:"input", type:"text" %>
  </div>

  <div class="fields">
    <%= f.fields_for :address do |a| %>
      <div class="field">
        <label class="label"><%= f.label :street_address %></label>
        <div class="control">
          <%= a.text_field :street_address, id: :street_address, class:"input", type:"text" %>
        </div>  
      </div>
      <div class="field">
        <label class="label"><%= f.label :city %></label>
        <div class="control">
          <%= a.text_field :city, id: :city, class:"input", type:"text" %>
        </div>  
      </div>
      <div class="field">
        <label class="label"><%= f.label :state %></label>
        <div class="control">
          <%= a.text_field :state, id: :state, class:"input", type:"text" %>
        </div>  
      </div>
      <div class="field">
        <label class="label"><%= f.label :postcode %></label>
        <div class="control">
          <%= a.text_field :postcode, id: :postcode, class:"input", type:"text" %>
        </div>  
      </div>
      <div class="field">
        <label class="label"><%= f.label :country %></label>
        <div class="control">
          <%= a.text_field :country, id: :country, class:"input", type:"text" %>
        </div>  
      </div>
    <% end %>
  </div>

  <div class="field">
    <label class="label"><%= f.label :password %></label>
    <% if @minimum_password_length %>
    <p class="help is-italic"><em>(<%= @minimum_password_length %> characters minimum)</em></p>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", class:"input", type:"text" %>
  </div>

  <div class="field">
    <label class="label"><%= f.label :password_confirmation %></label>
    <%= f.password_field :password_confirmation, autocomplete: "off", class:"input", type:"text" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Sign up", class:"button" %>
  </div>
  <br>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
</div>