<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div class="notification">
      <button class="delete"></button>
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li> - <%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label class="label"><%= form.label :name %></label>
    <div class="control">
      <%= form.text_field :name, id: :product_name, class:"input", type:"text", placeholder:"Enter a username..." %>
    </div>  
  </div>

  <div class="field">
    <label class="label"><%= form.label :price %></label>
    <div class="control">
      <%= form.text_field :price, id: :product_price %>
    </div>
  </div>

  <div class="field">
    <%= form.label :stock %>
    <%= form.number_field :stock, id: :product_stock %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :product_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
