<div class="container">
  <section class="hero is-black">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          BIOS Collective Market
        </h1>
      </div>
    </div>
  </section>

  <section>
  <div class="columns is-mobile is-centered">
  <nav class="level">
  <%= form_tag(products_path, method: :get) do %>
    <div class="field is-horizontal">
    <div class="level-item">
      <div class="field-label is-normal">
        <label class="label"><%= label_tag 'product_name', 'Name:' %></label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
          <%= text_field_tag 'product_name', nil, class: 'input is-small' %>
          </div>
        </div>
      </div>
    </div>
      &emsp;
      <div class="level-item">
      <div class="field-label is-normal">
        <label class="label"><%= label_tag 'price', 'Price:' %></label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
          <%= text_field_tag 'price', nil, class: 'input is-small' %>
          </div>
        </div>
      </div>
      </div>
      &emsp;
      <div class="level-item">
      <%= submit_tag "Filter", class: 'button is-small' %>
      </div>
    </div>
    <% end %>
  </nav>
  </div>
  </section>

  <%# product cards %>
  <section>
    <div class="columns is-mobile is-multiline is-centered">
    <% @products.each do |product| %>
      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image">
              <%= image_tag product.product_image %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-5"><%=  link_to product.name, product %></p>
                <p class="subtitle is-6">$<%= product.price %></p>
              </div>
            </div>

            <div class="content">
              <%= product.description %>
              <br>
              <a>Created by <%= product.user.username %></a>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </section>
</div>