

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Product:</strong>
  <%= @product.id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @product.owner %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<%= link_to 'Buy Now', new_product_order_path(@product), class: 'button is-primary', data: {no_turbolink: true} %>


<%= link_to 'Back', products_path, class: 'button is-primary' %>
